<div class="container">
  <div class="col-lg-8 mx-auto">
    <div class="card bg-dark text-black">
      <img class="card-img" src='/assets/top_cake0.jpg' alt="cake image">
      <div class="card-img-overlay">
        <h3 class="card-text">
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </h3>
      </div>
    </div>
  </div>

  <h2 class="mt-5">新着商品</h2>
    <div class="card-deck">
      <% @items.each do |item| %>
      <div class="card border-0">
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(100,100), class:"card-img-top"; %>
          <% end %>
        </div>
        <div>
          <p class="card-title">
            <%= item.name %>
          </p>
          <p class="card-text">
            ¥<%= item.price.to_s(:delimited) %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  <div class="col-2 ml-auto">
    <%= link_to "全ての商品を見る >", items_path %>
  </div>
</div>