<div>
  <h4>ショッピングカート</h4>
  <table>
    <thead>
      <tr>
        <th colspan="2">商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_items| %>
      <tr>
        <td><%= image_tag cart_items.item.get_image(50,50) %></td>
        <td><%= cart_items.item.name %></td>
        <td><%= cart_items.item.price %></td>
        <td><%= cart_items.amount %></td>
        <td><%= cart_items.subtotal %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>