<div class="container">
  <div class="row">
    <div class="d-flex align-items-end">
      <h2 class="mx-3">商品一覧</h2>
      <p>(全<%= @item.count %>件)</p>
    </div>
  </div>
  <div class="">
    <div class="d-flex flex-wrap">
    <% @items.each do |item| %>
      <div class="card border-0 col-lg-3 p-3">
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(200,200), class:"card-img-top"; %>
          <% end %>
        </div>
        <div>
          <p class="card-title">
            <%= item.name %>
          </p>
          <p class="card-text">
            ¥<%= item.price.to_s(:delimited) %>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @items %>
  </div>
</div>
