<div class="container">
  <div class="d-flex align_items_end">
    <h2 class="mt-5">商品一覧</h2>
    <p>(全<%= @item.count %>件)</p>
  </div>
  <div class="d-flex flex-wrap">
    <div class="card-deck">
    <% @items.each do |item| %>
      <div class="card border-0">
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(200,200), class:"card-img-top"; %>
          <% end %>
        </div>
        <div>
          <p class="card-title">
            <%= item.name %>
          </p>
          <p class="card-text">
            ¥<%= item.price.to_s(:delimited) %>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<%= paginate @items %>