<div>
  <%= image_tag @item.get_image(400,400) %>
</div>
<div>
  <%= form_with model: @item, url: cart_item_path, method: :post do |f| %>
    <%= item.name %>
    <%= item.introduction %>
    <%= item.add_tax_price.to_s(:delimited) %><%= "(税込)" %>
    <%= f.hidden_field :name, :value => "@item.id" %>
    <%= f.select :amount, *[1..3] %>
  <% end %>
</div>