<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="d-flex justify-content-between mb-5 border-bottom">
        <div>
          <a class="navbar-brand" href='/'>
            <%= image_tag 'naganocake.jpg', :size =>"240x135" %>
          </a>
        </div>
        <div class="mx-auto mt-5">
          <% if customer_signed_in? %>
            <p>ようこそ、<%= current_customer.last_name %>さん！</p>
          <% end %>
        </div>
        <div class="ml-auto mt-3">
          <nv class="navbar navbar-expand-lg navbar-white bg-white">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
              <li class="nav-item mr-3">
                <%= link_to "商品一覧", '/admin/items', class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "会員一覧", '/admin/customers', class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "注文履歴一覧", '/admin', class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item mr-3">
                <%= link_to "マイページ", '/customers/current_user', class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "商品一覧", '/items', class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "カート", '/cart_items', class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
            <% else %>
              <li class="nav-item mr-3">
                <%= link_to "About", '/about', class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "商品一覧", '/items', class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-outline-dark btn-lg mr-3' %>
              </li>
              </ul>
            <% end %>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-white m-5 border-top">
            <h6>ながのCAKE</h6>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
